---
type Props = {
	id?: string;
	className?: string;
	children?: any | any[];
};

const { className, id }: Props = Astro.props;
---

<!-- Переписать классы если нужно -->
<section
	id={id}
	class={`width-screen relative py-10 md:py-14 lg:py-16 bg-primary-bg ${className}`}>
	<slot />
</section>
