---
type Props = {
	id?: string;
	className?: string;
	children?: any | any[];
};

const { className, id }: Props = Astro.props;
---

<!-- Переписать классы если нужно -->
<section
	id={id}
	class={`width-screen relative py-4 md:py-6 lg:py-8 bg-primary-bg ${className}`}>
	<slot />
</section>
