---
import Container from '../shared/ui/Container.astro';
import Section from '../shared/ui/Section.astro';
import { QuizCard } from '../widgets/QuizCard';

---

<Section id={"actions"}>
	<Container>
		<QuizCard client:only="preact" />
	</Container>
</Section>
