@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

* {
	@apply transition-all duration-200;
	
}

