---
import Section from 'src/shared/ui/Section.astro';
import Logo from './Logo.astro';
import Container from 'src/shared/ui/Container.astro';

---

<section class={'width-screen relative bg-primary-bg'}>
	<div class='mx-auto w-full max-w-[1400px] flex justify-between items-start md:items-center gap-8 p-4 md:px-8 lg:px-12'>
		<Logo />
		<!-- <div class='md:flex mr-auto justify-center items-center hidden font-semibold gap-2 w-full'>
			<MapPin /> <p>Великий Новгород</p>
		</div> -->
		<div
			class='ml-auto h-full text-right text-lg w-full gap-10 '>
			<a class="hover:underline" href={'/'}>Назад</a>
		</div>
		<!-- <div class='text-lg shrink-0 min-w-36 hidden lg:block'>
			<a
				href={`tel:${phone}`}
				class='text-nowrap'
				>{phone}</a>
		</div> -->
	</div>
</section>
